<h1> <%= @users.name %> </h1> <br><br>
 <p> <%= @users.email %> </p><br>
 <p> <%= @users.password %> </p><br>
 <p> <%= @users.bikes %> </p><br>
 
<form action= "/users/<%=@users.id%>" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete Account">
</form> 


